// Text colors
$text-light: #FBFCFD;  // Main text color on dark background
$text-dark: #0C121D;   // Main text color on white background
$text-highlight: #82AEFF;  // Main text highlight color

// Background colors
$main-bg: #0C121D;   // Main background color
$header-bg: #090D15;   // Header background color

// Semi-transparent colors
$text-semi-transparent: #090D1566;  // Semi-transparent text color on dark background